.currentTime {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-height: 6.25rem;
  height: 6.25rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  color: #fff;
  background-image: linear-gradient(
    var(--ifm-color-primary),
    var(--ifm-color-primary-lightest)
  );
}

.timeArea {
  font-size: 3.4375rem;
  letter-spacing: 0.0625rem;
}

.timeAreaSplit {
  position: relative;
  top: -0.375rem;
  margin: 0 0.0625rem;
  border-radius: 0;
}

.timeSecond {
  font-size: 1.875rem;
  margin-left: 0.75rem;
}

.dateArea {
  font-size: 1rem;
}

.dateAreaWeek {
  font-size: 1.25rem;
}
