.pdfContainer {
  max-width: 31.25rem;
  display: flex;
  align-items: center;
}

.ReactPdfPage {
  max-width: 100%;
  box-shadow: var(--ifm-navbar-shadow);
}

.pagination {
  display: flex;
  padding: 1rem 2rem;
  background-color: var(--ifm-color-primary);
  color: #fff;
  border-radius: 3.125rem;
  margin-top: 1rem;
}

.paginationItem {
  margin-right: 1rem;
  cursor: pointer;
}

.paginationItemDisabled {
  cursor: not-allowed;
}

.paginationNum input {
  width: 4rem;
  height: 1.75rem;
  line-height: 1.75rem;
  text-align: center;
  border: 0.0625rem solid gray;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.react-pdf__Page {
  max-width: 31.25rem;
  box-shadow: var(--ifm-navbar-shadow);
}
