.searchContainer {
  margin-left: auto;
  margin-bottom: 1.5rem;
}
.searchContainer input {
  width: 13.75rem;
  height: 2rem;
  border-radius: 2rem;
  padding: 0.75rem;
  border: 0.0625rem solid gray;
  font-size: 1rem;
}
.searchContainer input:focus-visible {
  outline: none;
  border-color: var(--ifm-color-primary);
}
.searchContainer input::-webkit-outer-spin-button,
.searchContainer input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}
.searchContainer input {
  -moz-appearance: textfield;
}

.sentenceContainer {
  width: 100%;
  min-height: 5rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  border: 0.125rem solid var(--ifm-color-primary);
  box-shadow: var(--ifm-global-shadow-md);
  border-radius: var(--ifm-card-border-radius);
}
.sentenceIndex {
  flex-shrink: 0;
  min-width: 5rem;
  min-height: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2.25rem;
  border-radius: var(--ifm-card-border-radius);
  letter-spacing: 0.0625rem;
  background-color: var(--ifm-color-primary-light);
  color: #fff;
  margin: -0.125rem;
}
.sentenceContent {
  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: 1.125rem;
}

.sentenceBtnContainer {
  width: 12.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  background-color: var(--ifm-color-primary-light);
  margin: 0 auto;
  padding: 0 1.5rem;
  margin-top: 2rem;
  border-radius: 3.125rem;
}
.prevBtn,
.nextBtn {
  cursor: pointer;
}
